@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --purple: #bc8cf2;
  --grey: #eeeeee;
  --black: #000;
}

body {
  background-color: #eeeeee;
  height: 100vh;
  width: 100;
}

button {
  padding: 10px 12px;
  margin: 0 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  outline: none;
  height: 2px;
  margin: 0 15px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.container {
  background-color: #fff;
  height: 85%;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left,
.right {
  position: relative;
  height: 100%;
  width: 48%;
}

.logo {
  font-size: 1.5rem;
  color: #bc8cf2;
  font-weight: 700;
}

.logo p {
  margin: 17px 3px;
  display: inline-block;
  text-transform: capitalize;
}

/* .logo .fas {
  position: absolute;
} */

.show-song-no {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: var(--grey);
  height: 2em;
  width: 3em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-song-no p {
  display: inline;
  padding: 2px;
  color: var(--purple);
  font-weight: 700;
}
.img-info {
  position: absolute;
  top: 5em;
  background-color: #fafafa;
  width: 95%;
  height: 45%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.img-info .song-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-info .song-img .div-img {
  height: 80%;
  width: 80%;
}
.song-img .div-img #track-img {
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  outline: none;
}
.img-info .song-info {
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.img-info .song-info p {
  font-size: 1em;
  margin: 0.6em;
  font-weight: 600;
  color: var(--black);
}
.img-info .song-info #title {
  font-size: 1.7em;
  margin-left: 10px;
  padding-left: 0;
  color: var(--purple);
  text-transform: capitalize;
}
.img-info .song-info #artist,
.img-info .song-info #track_no {
  color: #7f7c82;
  font-size: 20px;
}
.music-controls {
  position: absolute;
  top: 27em;
  left: 38px;
  width: 80%;
  height: 210px;
  background-color: rgba(188, 140, 242, 0.5);
  border-radius: 15px;
}
.duration {
  /* position: absolute;
  top: 26em;
  left: 6em; */
  width: 90%;
  height: 20%;
  margin: 10px auto;
  background-color: rgba(188, 140, 242, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.duration .duration_slider {
  width: 100%;
}
.controls {
  /* position: absolute;
  top: 29em; */
  width: 100%;
  height: 33%;
  margin: 19px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  background-color: rgba(188, 140, 242, 0.5);
  border-radius: 50%;
  outline: none;
  border: 3.5px solid #fff;
  padding: 10px;
}

.controls button .fas {
  font-size: 20px;
  color: #fff;
}

.volume {
  /* position: absolute;
  top: 33em; */
  width: 60%;
  height: 33%;
  margin: 10px auto;
}
.volume p {
  display: inline-block;
  color: #fff;
}
.volume .fas {
  display: inline-block;
  color: #fff;
}
.volume volume-input {
  width: 10px;
}
.right {
  background-color: #fafafa;
  height: 95%;
  border-radius: 15px;
}
.right p {
  color: var(--purple);
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px;
}
table {
  color: var(--purple);
  width: 95%;
  border-collapse: collapse;
  margin: auto;
}

table tr {
  padding: 10px;
  background-color: #fff;
}
th {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid var(--purple);
}

td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid var(--purple);
  color: #7f7c82;
}

td .far {
  font-size: 20px;
}
